{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Twitter OG -->
    <meta name="twitter:site" content="@Robotics & AI Club">
    <meta name="twitter:creator" content="@Robotics & AI">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ROBO AI">
    <meta name="twitter:description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta name="twitter:image" content="#">

    <!-- Facebook OG -->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="ROBO AI">
    <meta property="og:description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta name="author" content="RoboticsCommitee">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png" sizes="16x16">

    <!-- Title -->
    <title>ROBO AI</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Build:CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- End Build -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
                <div class="main-wrapper">
                    <!-- Header Section Start -->
                    <header class="main-header w-100 z-10">
                        <nav class="navbar navbar-expand-xl navbar-light sticky-header">
                            <div class="container d-flex align-items-center justify-content-lg-between position-relative">
                                <!-- Logo -->
                                <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                                    <img src="{% static 'images/Dark Blue & White Robot Logo_edited.webp' %}" alt="logo" class="img-fluid logo-white" />
                                    <img src="{% static 'images/Dark Blue & White Robot Logo_edited.webp' %}" alt="logo" class="img-fluid logo-color" />
                                </a>

                                <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop" role="button">
                                    <i class="flaticon-menu"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasWithBackdrop"
                                    aria-controls="offcanvasWithBackdrop"></i>
                                </a>

                                <!-- Navbar Links -->
                                <div class="collapse navbar-collapse justify-content-center">
                                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                                        <li><a href="{% url 'index' %}" class="nav-link">index</a></li>
                                        <li><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
                                        <li><a href="{% url 'team' %}" class="nav-link">Members</a></li>
                                        <li><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
                                        <li><a href="{% url 'events' %}" class="nav-link">Events</a></li>
                                        <li><a href="{% url 'achievements' %}" class="nav-link">Achievements</a></li>
                                        <li><a href="{% url 'gallery' %}" class="nav-link">Gallery</a></li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="{% url 'inventory_menu' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">inventory</a>
                                            <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                                                <div class="dropdown-grid rounded-custom width-full">
                                                    <div class="dropdown-grid-item bg-white radius-left-side">
                                                        <h6 class="drop-heading">Components</h6>
                                                        <a href="{% url 'inventory_menu' %}" class="dropdown-link px-0">
                                                            <div class="drop-title">Drones</div>
                                                        </a>
                                                        <a href="{% url 'inventory_menu' %}" class="dropdown-link px-0">
                                                            <div class="drop-title">Battery & Power</div>
                                                        </a>
                                                        <a href="{% url 'inventory_menu' %}" class="dropdown-link">
                                                            <div class="drop-title">Sensors</div>
                                                        </a>
                                                        <a href="{% url 'inventory_menu' %}" class="dropdown-link px-0">
                                                            <div class="drop-title">Actuators</div>
                                                        </a>
                                                        <a href="{% url 'inventory_menu' %}" class="dropdown-link">
                                                            <div class="drop-title">Internet of Things</div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="{% url 'contact' %}" class="nav-link">Contact Us</a></li>
                                    </ul>
                                </div>

                                <!-- Social Links -->
                                <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                                    <a href="javascript:void(0)" class="btn btn-link p-1 tt-theme-toggle">
                                        <div class="tt-theme-light" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Light"><i class="flaticon-sun-1 fs-lg"></i></div>
                                        <div class="tt-theme-dark" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Dark"><i class="flaticon-moon-1 fs-lg"></i></div>
                                    </a>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/robotics-and-ai-club-403778262"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li class="list-inline-item"><a href="https://www.instagram.com/robotics_club_?igsh=YjVhYXdoYXZlenV1"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                </div>
            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="index.html" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src=" /img/logo-color.png" alt="logo" class="img-fluid ps-2" />
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="flaticon-cancel"></i>
                    </button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                index
                            </a>
                            <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white indexpage-list-wrapper">
                                <div class="dropdown-grid rounded-custom width-full indexpage-dropdown">
                                    <div class="dropdown-grid-item bg-white radius-left-side">
                                        <h6 class="drop-heading">Different index</h6>
                                        <a href="index.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">1</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">Robotics & AI</div>
                                                <p>It's for <strong>Club </strong> of Marwadi University</p>
                                            </div>
                                        </a>
                        <li><a href="services.html" class="nav-link">inventory</a></li>

                        <li><a href="pricing.html" class="nav-link">Pricing</a></li>
                    </ul>
                    <div class="action-btns mt-4 ps-3">
                      
                        <a href="request-demo.html" class="btn btn-primary">Discuss a Project</a>
                    </div>
                </div>
            </div>
            <!--offcanvas menu end-->
    <!--our story section start-->
    <section class="our-story-section pt-60 pb-120" style="background: url(' /img/shape/dot-dot-wave-shape.svg')no-repeat left bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5 col-md-12 order-lg-1">
                    <div class="section-heading sticky-sidebar">
                        <h4 class="h5 text-primary">About Us</h4>
                        <h2>Innovating the Future with a Passionate Community</h2>
                        <p>The Robotics & AI Club at Marwadi University is a vibrant community for students passionate about robotics and artificial intelligence. Our club connects aspiring engineers and tech enthusiasts, offering hands-on projects, workshops, and competitions to foster practical skills and innovation. We aim to inspire curiosity, nurture talent, and create a collaborative space for building the future of intelligent technology.</p>
                        <div class="mt-4">
                            <h6 class="mb-3">We Are Awarded By-</h6>
                            <img src="{% static 'images/mu naac a.jpg' %}" alt="awards" class="me-4 img-fluid">
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-lg-0">
                    <div class="story-grid-wrapper position-relative">
                        <!--animated shape start-->
                        <ul class="position-absolute animate-element parallax-element shape-service d-none d-lg-block">
                            <li class="layer" data-depth="0.02">
                                <img src=" {% static 'img/color-shape/image-2.svg' %}" alt="shape" class="img-fluid position-absolute color-shape-2 z-5">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'img/color-shape/feature-3.svg' %}" alt="shape" class="img-fluid position-absolute color-shape-3">
                            </li>
                        </ul>
                        <!--animated shape end-->
                        <div class="story-grid rounded-custom bg-dark overflow-hidden position-relative">
                            <div class="story-item bg-light-subtle border">
                                <h3 class="display-5 fw-bold mb-1 text-success">15+</h3>
                                <h6 class="mb-0">Events</h6>
                            </div>
                            <div class="story-item bg-white border">
                                <h3 class="display-5 fw-bold mb-1 text-primary">600+</h3>
                                <h6 class="mb-0">Club Members</h6>
                            </div>
                            <div class="story-item bg-white border">
                                <h3 class="display-5 fw-bold mb-1 text-dark">27+</h3>
                                <h6 class="mb-0">Workshops</h6>
                            </div>
                            <div class="story-item bg-light-subtle border">
                                <h3 class="display-5 fw-bold mb-1 text-warning">7 years</h3>
                                <h6 class="mb-0">of Establishment</h6>
                            </div>
                            <div class="story-item bg-light-subtle border">
                                <h3 class="display-5 fw-bold mb-1 text-danger">10+</h3>
                                <h6 class="mb-0">Hackathons Winners</h6>
                            </div>
                            <div class="story-item bg-white border">
                                <h3 class="display-5 fw-bold mb-1 text-primary">500+</h3>
                                <h6 class="mb-0">Projects Completed</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--our story section end-->

    <!--feature section two start-->
    <section class="feature-section-two ptb-120 bg-light-subtle">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="section-heading">
                        <h4 class="h5 text-primary">The Core Beliefs That Shape Us</h4>
                        <h2>What Powers Our Progress</h2>
                        <p>We are dedicated to fostering innovation, collaboration, and hands-on learning in robotics and AI. Our club provides a supportive environment that encourages students to push boundaries, build technical expertise, and create impactful solutions for real-world challenges</p>
                        <ul class="list-unstyled mt-5">
                            <li class="d-flex align-items-start mb-4">
                                <div class="icon-box bg-primary rounded me-4">
                                    <i class="fas fa-bezier-curve text-white"></i>
                                </div>
                                <div class="icon-content">
                                    <h3 class="h5">Our Mission</h3>
                                    <p>The Robotics & AI Club at Marwadi University is dedicated to empowering innovation and hands-on learning by fostering curiosity and technical skills in robotics and AI. We create an inclusive platform where students can learn, build, and innovate.
                                        
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="icon-box bg-primary rounded me-4">
                                    <i class="fas fa-bezier-curve text-white"></i>
                                </div>
                                <div class="icon-content">
                                    <h3 class="h5">Skill-Building  &amp;Real-World Experience</h3>
                                    <p>We believe in learning by doing, providing members with practical experience through workshops, hackathons, and real-world projects that tackle meaningful challenges in robotics and AI.
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4">
                                <div class="icon-box bg-primary rounded me-4">
                                    <i class="fas fa-bezier-curve text-white"></i>
                                </div>
                                <div class="icon-content">
                                    <h3 class="h5">Community & Collaboration</h3>
                                    <p>Our club is a collaborative space where students can connect, share knowledge, and grow together with the guidance of faculty and industry mentors, fostering a strong community of like-minded innovators.</p>
                                </div>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">Innovation & Social Impact</h3>
                                        <p>We are committed to using technology for good, focusing on impactful projects that leverage robotics and AI to address real societal needs and make a positive difference.</p>
                                    </div>
                                    <li class="d-flex align-items-start mb-4">
                                        <div class="icon-box bg-primary rounded me-4">
                                            <i class="fas fa-bezier-curve text-white"></i>
                                        </div>
                                        <div class="icon-content">
                                            <h3 class="h5">Career Advancement</h3>
                                            <p>Through skill-building, certifications, and networking opportunities, our club prepares members to excel in the tech industry, equipping them with a competitive edge for their future careers.</p>
                                        </div>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                        <ul class="img-overlay-list list-unstyled position-absolute">
                            
                            
                        </ul>
                        <img src="{% static 'images/about VR.jpg' %}" alt="feature image" class="img-fluid rounded-custom">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--feature section two end-->

   

    <!--testimonial section start-->
    <section class="testimonial-section ptb-120 ">
        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-md-10 col-lg-6">
                    <div class="section-heading text-center">
                        <h1 class="h5 text-primary">Testimonial</h1>
                        <h3>What Our Members Say About Us</h3>
                        <p>The Robotics & AI Club offers a platform for hands-on learning, innovation, and collaboration. Members appreciate the opportunity to work on real-world projects, develop practical skills, and connect with peers and mentors.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="position-relative w-100">
                        <div class="swiper testimonialSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="border border-2 p-5 rounded-custom position-relative">
                                        <img src="{% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                        <div class="d-flex mb-32 align-items-center">
                                            <img src="{% static 'images/teesha didi.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                            <div class="author-info">
                                                <h6 class="mb-0">Teesha Kshatriya</h6>
                                                <small>Buisness Analyst at NASDAQ</small>
                                            </div>
                                        </div>
                                        <blockquote>
                                            <h6>Hands-On Learning at Its Best!</h6>
                                            The Robotics & AI Club provides an incredible platform for practical experience, innovation, and collaboration. It offers real-world projects that help develop essential skills while connecting students with peers and mentors in the field.
 
                                        </blockquote>
                                        
                                        <img src="{% static 'img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        <a href="https://www.linkedin.com/in/teeshakshatriya"><button>
                                            <i class="fa-brands fa-linkedin"></i>
                                        </button></a> 
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="border border-2 p-5 rounded-custom position-relative">
                                        <img src="{% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                        <div class="d-flex mb-32 align-items-center">
                                            <img src=" {% static 'images/vinit.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                            <div class="author-info">
                                                <h6 class="mb-0">Vinit Pandya</h6>
                                                <small>ERASMUS+</small>
                                            </div>
                                        </div>
                                        <blockquote>
                                            <h6>Empowering Innovation and Growth!</h6>
                                            The Robotics & AI Club is a hub for creativity and technical skill development. It fosters innovation through hands-on projects and teamwork, helping students apply their knowledge to real-world challenges while building valuable connections
                                        </blockquote>
                                        
                                        <img src="{% static 'img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        <a href="https://www.linkedin.com/in/vinit-pandya-0a1419256"><button>
                                            <i class="fa-brands fa-linkedin"></i>
                                        </button></a> 
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="border border-2 p-5 rounded-custom position-relative">
                                        <img src="{% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                        <div class="d-flex mb-32 align-items-center">
                                            <img src="{% static 'images/sobhagiya.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                            <div class="author-info">
                                                <h6 class="mb-0">Saubhagya Vishvakarma</h6>
                                                <small>Simform</small>
                                                
                                            </div>
                                        </div>
                                        <blockquote>
                                            <h6>Where Ideas Turn Into Reality!</h6>
                                            The club provides a dynamic environment for students to bring their ideas to life. By working on impactful projects, members gain practical experience in robotics and AI, expanding their technical knowledge and professional network.
                                        </blockquote>
                                        
                                        <img src=" {% static 'img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        <a href="https://www.linkedin.com/in/saubhagya-vishwakarma-48734a243"><button>
                                            <i class="fa-brands fa-linkedin"></i>
                                        </button></a> 
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="border border-2 p-5 rounded-custom position-relative">
                                        <img src=" {% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                        <div class="d-flex mb-32 align-items-center">
                                            <img src="{% static 'images/jc.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                            <div class="author-info">
                                                <h6 class="mb-0">Jaineel Chhatraliya</h6>
                                                <small>Drone Developer</small>
                                            </div>
                                        </div>
                                        <blockquote>
                                            <h6>Shaping Future Tech Leaders!</h6>
                                            At the Robotics & AI Club, members get the opportunity to develop cutting-edge skills and contribute to groundbreaking projects. It’s the perfect place to gain hands-on experience, collaborate with experts, and prepare for a career in tech.
                                        </blockquote>
                                        
                                        <img src=" {% static 'img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        <a href="https://www.linkedin.com/in/jaineel-chhatraliya"><button>
                                            <i class="fa-brands fa-linkedin"></i>
                                        </button></a> 
                                    </div>
                                </div>

                                <div class="swiper-slide">
                                    <div class="border border-2 p-5 rounded-custom position-relative">
                                        <img src=" {% static 'img/testimonial/quotes-dot.svg' %}" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                        <div class="d-flex mb-32 align-items-center">
                                            <img src="{% static 'images/neel.jpg' %}" class="img-fluid me-3 rounded" width="60" alt="user">
                                            <div class="author-info">
                                                <h6 class="mb-0">Neel Dholakiya</h6>
                                                <small>ERASMUS+ & SIH Winner</small>
                                            </div>
                                        </div>
                                        <blockquote>
                                            <h6>Collaborative Learning and Innovation!</h6>
                                            The club brings together students passionate about robotics and AI, offering them a platform to collaborate, innovate, and learn from one another. The real-world projects help build a strong foundation for future careers in technology.
                                        </blockquote>
                                        
                                        <img src=" {% static 'img/testimonial/quotes.svg' %}" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                                        <a href="https://www.linkedin.com/in/neeldholakia"><button>
                                            <i class="fa-brands fa-linkedin"></i>
                                        </button></a> 
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-nav-control">
                            <span class="swiper-button-next"></span>
                            <span class="swiper-button-prev"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--testimonial section end-->

    <!-- Start Footer -->
	  <!--footer section start-->
	  <footer class="footer-section">
		<!--footer top start-->
		<!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
		<div class="footer-top footer-light ptb-120">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
						<p>
							<h1 class="display-5 fw-bold">LEARN</h1>
							<h1 class="display-5 fw-bold">THINK </h1>
							<h1 class="display-5 fw-bold">CREATE  LIMITLESS</h1>
						</p>
					</div>
					<div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
						<div class="row">
							<div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
								<div class="footer-single-col">
									<h3>Club Core Areas</h3>
									<ul class="list-unstyled footer-nav-list mb-lg-0">
										<li><a href="index.html" class="text-decoration-none"></a>Robotics Development</li>
										<li><a href="index.html" class="text-decoration-none"></a>Artificial Intelligence</li>
										<li><a href="index.html" class="text-decoration-none"></a>Machine Learning</li>
										<li><a href="index.html" class="text-decoration-none"></a>Computer Vision</li>
										<li><a href="index.html" class="text-decoration-none"></a>Embedded Systems</li>
										<li><a href="index.html" class="text-decoration-none"></a>Sensor Integration</li>
										<li><a href="index.html" class="text-decoration-none"></a>Battery & Power Management</li>
										<li><a href="index.html" class="text-decoration-none"></a>Actuators & Control Systems</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
								<div class="footer-single-col">
									<h3>Opportunities</h3>
									<ul class="list-unstyled footer-nav-list mb-lg-0">
										<li><a href="index.html" class="text-decoration-none"></a>Internships & Careers</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Mentorship Programs</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Industry Collaborations</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Alumni Network</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Technical Skill Development</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Competitions & Hackathons</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Personal Growth</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Leadership Roles</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
								<div class="footer-single-col">
									<h3>Resources</h3>
									<ul class="list-unstyled footer-nav-list mb-lg-0">
										<li><a href="index.html" class="text-decoration-none"></a>About the Club</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Join Us</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Projects & Research</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Events & Workshops</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Code of Conduct</a></li>
										<li><a href="contact-us.html" class="text-decoration-none"></a>Contact Us</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Privacy Policy</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Terms & Conditions</a></li>
										<li><a href="index.html" class="text-decoration-none"></a>Collaborate with Us</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!--footer top end-->

		<!--footer bottom start-->
		<div class="footer-bottom footer-light py-4">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-md-7 col-lg-7">
						<div class="copyright-text">
							<p class="mb-lg-0 mb-md-0">&copy; Robotics & AI Club Rights Reserved. Designed By <a href="" class="text-decoration-none">Commitee Members</a></p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="footer-single-col text-start text-lg-end text-md-end">
						   
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--footer bottom end-->
	</footer>
	<!--footer section end-->
<!--footer section end--> <!--footer section end-->
</div>

	
	<!-- End Footer -->
	
   

    

    <!--end main content-->

    <!--build:js-->
    <script src="{% static 'js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'js/vendors/aos.js' %}"></script>
    <script src="{% static 'js/vendors/massonry.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <!--endbuild-->
</body>
</html>