<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Font -->

    <!--build:css-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="assets/css/custom.css">
    <!--custom css end-->
</head>
<body>
   <!--preloader end-->
   <div class="main-wrapper">

    <!--header section start-->
    <!--header section end-->

    <!-- Hero -->
    <div class="rm-hero pt-120 pb-120 position-relative overflow-hidden">
        <div class="container">
            <div class="position-relative">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6">
                        <h1 class="rm-hero-title text-white fs-72 fw-800 ff-risk-pri mb-20"> Streamlined Risk <span
                                class="risk-gd-text">Management</span> <br>
                            <span class="text-ind">-Software</span> <span><img
                                    src="assets/img/risk_managment/font.png" alt=""></span>
                        </h1>
                        <p class="text-white fs-20 ff-dmsans fw-500 flh-28">There are many variations of passages of
                            Loren
                            epsom
                            available
                            but the majority have suffered alteration by injected.</p>
                        <a href="" class="btn risk-btn-bg risk-btn-hover clr-white ff-risk-pri fs-14 fw-600 mt-30">Start
                            Free Trial</a>
                        <div class="risk-customer-area mt-60">
                            <p class="text-white ff-risk-pri fw-600">See how over 7,700 customers <span
                                    class="risk-highlight-color fw-800">Help the world work</span></p>
                            <div class="risk-customer-logo-wrapper d-flex align-items-center gap-10 flex-wrap">
                                <img class="risk-customer-logo" src="assets/img/risk_managment/customer.png" alt="">
                                <img class="risk-customer-logo" src="assets/img/risk_managment/customer_2.png" alt="">
                                <img class="risk-customer-logo" src="assets/img/risk_managment/customer_3.png" alt="">
                                <img class="risk-customer-logo" src="assets/img/risk_managment/customer_4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-8">
                        <div class="position-relative">
                            <img src="assets/img/risk_managment/hero.png" alt="" class="risk-hero-img img-fluid">
                            <a href="" class="risk-click-btn risk-gd-bg rounded-circle d-flex align-items-center justify-content-center position-absolute">
                                <svg width="25" height="32" viewBox="0 0 25 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.39397 1.4711C1.39397 1.4711 11.7558 16.9705 21.1011 30.9492M21.1011 30.9492C14.3501 20.851 23.4213 12.0896 23.4213 12.0896M21.1011 30.9492C14.3501 20.851 2.78667 25.8846 2.78667 25.8846" stroke="white" stroke-width="2" />
                                </svg>
                            </a>
                            <div class="risk-social d-flex align-items-center flex-column gap-20">
                                <a class="d-flex align-items-center gap-1 ff-risk-pri fs-14 fw-700" href=""><span><i
                                            class="fa-brands fa-facebook-f"></i></span>Facebook</a>
                                <a class="d-flex align-items-center gap-1 ff-risk-pri fs-14 fw-700" href=""><span><i
                                            class="fa-brands fa-linkedin"></i></span>LinkedIn</a>
                                <a class="d-flex align-items-center gap-1 ff-risk-pri fs-14 fw-700" href=""><span><i
                                            class="fa-brands fa-instagram"></i></span>Instagram</a>
                                <a class="d-flex align-items-center gap-1 ff-risk-pri fs-14 fw-700" href=""><span><i
                                            class="fa-brands fa-twitter"></i></span>Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="assets/img/risk_managment/shape/hero.png" alt="" class="hero-shape position-absolute">
            </div>
        </div>
    </div>
    <!-- Hero -->

    <!-- Info Card -->
    <div class="rm-info-card-area ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-8">
                    <div class="text-center">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Explore How Can I Help You</h6>
                        <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-30">ERM Solutions to <span
                                class="risk-gd-text">Bridge Your</span>
                            <span class="risk-highlight-color">Risk </span>Journey Across
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-3 col-md-6">
                    <div class="risk-info-card ca-two-border ca-two-border-color rounded-8 risk-border-hover padding-6 pt-40 mt-20">
                        <img src="assets/img/risk_managment/info_card.svg" alt="">
                        <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-26 mt-30">Enterprise <br>
                            <span class="risk-bg-color"></span>Risk Management
                        </h5>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-30 mt-20">There are many variations of
                            passages of
                            available but the alteration
                            by injected.</p>
                        <a href="" class="risk-color-two fs-16 ff-risk-pri fw-700">Explore More</a>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="risk-info-card ca-two-border ca-two-border-color rounded-8 risk-border-hover padding-6 pt-40 mt-20">
                        <img src="assets/img/risk_managment/info_card_2.svg" alt="">
                        <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-26 mt-30">Third Party <br>
                            <span class="risk-bg-color"></span>Risk Management
                        </h5>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-30 mt-20">There are many variations of
                            passages of
                            available but the alteration
                            by injected.</p>
                        <a href="" class="risk-color-two fs-16 ff-risk-pri fw-700">Explore More</a>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="risk-info-card ca-two-border ca-two-border-color rounded-8 risk-border-hover padding-6 pt-40 mt-20">
                        <img src="assets/img/risk_managment/info_card_3.svg" alt="">
                        <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-26 mt-30">Financial<br>
                            <span class="risk-bg-color"></span>Controls
                        </h5>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-30 mt-20">There are many variations of
                            passages of
                            available but the alteration
                            by injected.</p>
                        <a href="" class="risk-color-two fs-16 ff-risk-pri fw-700">Explore More</a>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-6">
                    <div class="risk-info-card ca-two-border ca-two-border-color rounded-8 risk-border-hover padding-6 pt-40 mt-20">
                        <img src="assets/img/risk_managment/info_card_4.svg" alt="">
                        <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-26 mt-30">Compliance<br>
                            <span class="risk-bg-color"></span>Management
                        </h5>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-30 mt-20">There are many variations of
                            passages of
                            available but the alteration
                            by injected.</p>
                        <a href="" class="risk-color-two fs-16 ff-risk-pri fw-700">Explore More</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-40">
                <p class="risk-color fs-16 ff-risk-pri fw-700 flh-24 mb-0">We Are Available For New Custom Prject. <span
                        class="risk-gd-text fw-800">Let’s Connect
                        Now</span></p>
            </div>
        </div>
    </div>
    <!-- Info Card -->

    <!-- Service -->
    <div class="rm-service-area risk-bg-color-two pt-120 position-relative">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img src="assets/img/risk_managment/service.png" alt="" class="rm-service-img img-fluid">
                        <img src="assets/img/risk_managment/shape/service.png" alt="" class="s-one position-absolute">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="pr-40">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Explore How Can I Help You</h6>
                        <h2 class="risk-title text-white fs-42 ff-risk-pri flh-56 fw-800 mb-20 pr-15">Simplify
                            Compliance & Manage
                            <span class="risk-gd-text">Risk with Quiety</span> One GRC Software
                        </h2>
                        <p class="text-white ff-dmsans fs-16 flh-28 mb-0 mt-20">All-in-one Governance, Risk, and
                            Compliance
                            (GRC) software. Our comprehensive solution empowers your organization to efficiently
                            Navigate
                            the complex landscape.</p>
                        <ul class="risk-service-list list-unstyled mb-0 mt-40">
                            <li class="d-flex align-items-center flex-wrap gap-3 text-white fs-16 fw-700 ff-dmsans flh-28 mb-20">
                                <div class="risk-service-count d-flex align-items-center justify-content-center fs-12 rounded-circle">
                                    1
                                </div>
                                Stay Compliant with Global Regulations
                            </li>
                            <li class="d-flex align-items-center flex-wrap gap-3 text-white fs-16 fw-700 ff-dmsans flh-28 mb-20">
                                <div class="risk-service-count d-flex align-items-center justify-content-center fs-12 rounded-circle">
                                    2
                                </div>
                                Oversee of all your GRC initiatives
                            </li>
                            <li class="d-flex align-items-center flex-wrap gap-3 text-white fs-16 fw-700 ff-dmsans flh-28 mb-20">
                                <div class="risk-service-count d-flex align-items-center justify-content-center fs-12 rounded-circle">
                                    3
                                </div>
                                Oversee of all your GRC initiatives
                            </li>
                        </ul>
                        <a href="" class="btn risk-btn-bg risk-btn-hover clr-white ff-risk-pri fs-14 fw-600 mt-30">Start
                            Free Trial</a>
                    </div>
                </div>
            </div>
            <div class="risk-gd-border-line mt-60"></div>
        </div>
        <img src="assets/img/risk_managment/shape/service_2.png" alt="" class="s-two position-absolute">
        <img src="assets/img/risk_managment/shape/service_3.png" alt="" class="s-three position-absolute">
    </div>
    <!-- Service -->

    <!-- Counter -->
    <div class="rm-counter-area risk-bg-color-two pt-60 pb-120">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xxl-4">
                    <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Fun Facts</h6>
                    <h2 class="text-white fs-36 ff-risk-pri flh-44 fw-800 mb-20 fch-14">The Numbers tell
                        Our Story
                    </h2>
                    <p class="text-white ff-dmsans fs-16 flh-24 mb-0">Far and wide, we’re known for our dedication to
                        governance, risk compliance.</p>
                </div>
                <div class="col-xxl-7">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="risk-counter-item mt-20">
                                <h3 class="text-white fs-56 ff-dmsans fw-700"><span class="counter">2</span>millions
                                </h3>
                                <p class="text-white ff-dmsans fs-16 flh-24 mb-0">People and employees
                                    Worldwide</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="risk-counter-item risk-border-left risk-border-color pl-40 mt-20">
                                <h3 class="text-white fs-56 ff-dmsans fw-700"><span class="counter">40</span>k+
                                </h3>
                                <p class="text-white ff-dmsans fs-16 flh-24 mb-0">People and employees
                                    Worldwide</p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="risk-counter-item risk-border-left risk-border-color pl-40 mt-20">
                                <h3 class="text-white fs-56 ff-dmsans fw-700"><span class="counter">90</span>+
                                </h3>
                                <p class="text-white ff-dmsans fs-16 flh-24 mb-0">of Ethisphere’s World’s Most
                                    Ethical Companies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter -->

    <!-- Service Content -->
    <div class="rm-service-content-area pt-60 pb-60">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Explore How Can I Help You</h6>
                        <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-20">Connect Across Business
                            Areas to
                            <span class="risk-gd-text">Prioritize Risk</span>
                        </h2>
                        <p class="risk-color-two ff-dmsans fs-16 flh-28 mb-0 fch-50">Our software was purpose
                            built to
                            be
                            interconnected across enterprise governance areas and our clients’ core systems – serving as
                            a
                            single source of truth for your Organizations. Identify high-risk zones for management, and
                            finance. LogicManager facilitates inter-departmental collaboration, offering analytical
                            insights
                            that paint a vivid risk landscape you can allocate your resources strategically.</p>
                        <a href="services.html" class="btn risk-outline-btn mt-40 risk-color ff-risk-pri fs-14 fw-700">Start
                            Free Trial</a>
                        <img src="assets/img/risk_managment/shape/service_content.png" alt="" class="s-one position-absolute">
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="assets/img/risk_managment/service_content.png" alt="" class="risk-sc-img img-fluid">
                </div>
            </div>
        </div>
    </div>
    <!-- Service Content -->

    <!-- Service Content Two -->
    <div class="rm-service-content-area-two pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <img src="assets/img/risk_managment/service_content_2.png" alt="" class="risk-sc-img-two img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="position-relative">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Explore How Can I Help You</h6>
                        <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-20">Expert
                            <span class="risk-gd-text">Risk Quiety</span> Management Support
                        </h2>
                        <p class="risk-color-two ff-dmsans fs-16 flh-28 mb-0 fch-50">Our software was purpose
                            built to
                            be
                            interconnected across enterprise governance areas and our clients’ core systems – serving as
                            a
                            single source of truth for your Organizations. Identify high-risk zones for management, and
                            finance. LogicManager facilitates inter-departmental collaboration, offering analytical
                            insights
                            that paint a vivid risk landscape you can allocate your resources strategically.</p>
                        <a href="services.html" class="btn risk-outline-btn mt-40 risk-color ff-risk-pri fs-14 fw-700">Start
                            Free Trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service Content Two -->

    <!-- Cta -->
    <div class="rm-cta-area risk-bg-color-two ptb-80 position-relative z-1">
        <div class="container">
            <div class="position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-7">
                        <div class="text-center">
                            <img src="assets/img/risk_managment/cta.png" alt="" class="risk-cta-img position-absolute z--1">
                            <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Explore How Can I Help You</h6>
                            <h2 class="risk-title text-white fs-42 ff-risk-pri flh-56 fw-800">Discover the Value of
                                Risk Intelligence.
                            </h2>
                            <a href="" class="btn risk-btn-bg risk-btn-hover clr-white ff-risk-pri fs-14 fw-600 mt-20">Start
                                Free Trial</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cta -->

    <!-- Contact -->
    <div class="rm-contact-area pt-120 pb-60 position-relative z-1">
        <img src="assets/img/risk_managment/shape/contact_2.png" alt="" class="s-two position-absolute z--1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Get In touch</h6>
                    <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-20 pr-20">We’re
                        <span class="risk-gd-text">Committed to</span> your Success.
                    </h2>
                    <p class="risk-color-two ff-dmsans fs-16 flh-28 mb-0 fch-50">Move from feeling ill-equipped and
                        anxious about imminent catastrophe to outsmarting the bad actors and protecting your
                        organization with confidence.</p>
                </div>
                <div class="col-lg-7">
                    <div class="pl-50">
                        <div class="risk-contact-form-bg risk-bg-color-two rounded-16 position-relative z-1 overflow-hidden">
                            <div class="risk-form-box bgc-white rounded-12">
                                <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-24 mb-30">Get In Touch Now</h5>
                                <form action="#" class="risk-contact-form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">First Name <span
                                                        class="risk-highlight-color">*</span></h6>
                                                <input type="text" placeholder="First Name" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">Last Name <span
                                                        class="risk-highlight-color">*</span></h6>
                                                <input type="text" placeholder="Last Name" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">Email <span
                                                        class="risk-highlight-color">*</span></h6>
                                                <input type="email" placeholder="Email Adress" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">Company Name <span
                                                        class="risk-highlight-color">*</span></h6>
                                                <input type="text" placeholder="Company Name" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">Phone Number*</h6>
                                                <input type="number" placeholder="Phone No" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">How did You Hear About
                                                    Us?</h6>
                                                <input type="text" placeholder="Write Here" class="form-control risk-input ca-two-border ca-two-border-color">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="risk-form-item mb-20">
                                                <h6 class="risk-color fs-14 ff-risk-pri fw-600">Country Reason</h6>
                                                <select name="rs-country" id="rs-country" class="form-control risk-input ca-two-border ca-two-border-color">
                                                    <option value="Select Your Country">Select Your Country</option>
                                                    <option value="Select Your Country">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="risk-color-two ff-dmsans fs-12 flh-16 mb-0">Quiety will use the
                                        information provided to contact you about products & services. You may opt out
                                        of receiving these communications at any time. For more information see Quiety
                                        <a href="">Privacy Policy</a>
                                    </p>
                                    <a href="" class="btn risk-btn-bg risk-outline-btn-hover clr-white ff-risk-pri fs-14 fw-600 mt-20">Start
                                        Free Trial</a>
                                </form>
                            </div>
                            <img src="assets/img/risk_managment/shape/contact.png" alt="" class="s-one position-absolute z--1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact -->

    <!-- Testimonial -->
    <div class="rm-testimonial-area ptb-60">
        <div class="container">
            <div class="risk-bg-color-three ptb-80 pl-50 pr-50 rounded-12 position-relative z-1">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-20 pr-20">Real Stories_
                            <span class="risk-gd-text">Real Impact</span>
                        </h2>
                        <p class="risk-color-two ff-dmsans fs-16 flh-28 mb-0 fch-50">Move from feeling ill-equipped and
                            anxious about imminent catastrophe to outsmarting the bad actors & protecting.</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-end">
                            <a href="" class="btn risk-btn-bg risk-outline-btn-hover clr-white ff-risk-pri fs-14 fw-600">Read
                                their Stories</a>
                        </div>
                    </div>
                </div>
                <div class="risk-testimonial-items ptb-20 swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="risk-testimonial-item bgc-white padding-6 ptb-40 rounded-8 risk-shadow mt-20">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/img/risk_managment/testimonial.png" alt="">
                                    <div class="rm-testimonial-info">
                                        <h6 class="risk-color fs-14 ff-dmsans fw-500 mb-0">Leslie Alexander</h6>
                                        <img src="assets/img/risk_managment/testimonial_icon.png" alt="">
                                    </div>
                                </div>
                                <p class="risk-color-two fs-16 ff-dmsans flh-24 mt-20 mb-0"> “Interactively redefine
                                    progressive networks. Synergistically integrate dynamic solutions vis-a-vis
                                    resource maximizing roi”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="risk-testimonial-item bgc-white padding-6 ptb-40 rounded-8 risk-shadow mt-20">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/img/risk_managment/testimonial.png" alt="">
                                    <div class="rm-testimonial-info">
                                        <h6 class="risk-color fs-14 ff-dmsans fw-500 mb-0">Leslie Alexander</h6>
                                        <img src="assets/img/risk_managment/testimonial_icon.png" alt="">
                                    </div>
                                </div>
                                <p class="risk-color-two fs-16 ff-dmsans flh-24 mt-20 mb-0"> “Interactively redefine
                                    progressive networks. Synergistically integrate dynamic solutions vis-a-vis
                                    resource maximizing roi”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="risk-testimonial-item bgc-white padding-6 ptb-40 rounded-8 risk-shadow mt-20">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="assets/img/risk_managment/testimonial.png" alt="">
                                    <div class="rm-testimonial-info">
                                        <h6 class="risk-color fs-14 ff-dmsans fw-500 mb-0">Leslie Alexander</h6>
                                        <img src="assets/img/risk_managment/testimonial_icon.png" alt="">
                                    </div>
                                </div>
                                <p class="risk-color-two fs-16 ff-dmsans flh-24 mt-20 mb-0"> “Interactively redefine
                                    progressive networks. Synergistically integrate dynamic solutions vis-a-vis
                                    resource maximizing roi”</p>
                            </div>
                        </div>
                    </div>
                    <div class="risk-slider__controls">
                        <div class="risk-slider__pagination"></div>
                    </div>
                </div>
                <img src="assets/img/risk_managment/shape/testimonial.png" alt="" class="s-one position-absolute z--1">
            </div>
        </div>
    </div>
    <!-- Testimonial -->

    <!-- Blog -->
    <div class="rm-blog-area pt-60 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-700 mb-20">Update Resource </h6>
                        <h2 class="risk-title risk-color fs-42 ff-risk-pri flh-56 fw-800 mb-20">Risk Management _
                            <span class="risk-highlight-color"> News </span>
                        </h2>
                        <p class="risk-color-two ff-dmsans fs-16 flh-28 mb-30">As an ISACA member, you’ll gain
                            access to special knowledge resources including our white papers and webinars, and online
                            on-demand training.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="risk-blog bgc-white padding-6 pb-30 rounded-8 risk-shadow mt-20">
                        <img src="assets/img/risk_managment/blog.png" alt="" class="w-100 img-fluid rounded-8 mb-20">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-600 ch-mb-10">Cyber Security</h6>
                        <a href="">
                            <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-28 mb-20">8 Questions to Ask Potential
                                ERM
                                Software Vendors</h5>
                        </a>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-0">Special knowledge resources including our
                            white papers and webinars on-demand...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="risk-blog bgc-white padding-6 pb-30 rounded-8 risk-shadow mt-20">
                        <img src="assets/img/risk_managment/blog_2.png" alt="" class="w-100 img-fluid rounded-8 mb-20">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-600 ch-mb-10">Cyber Security</h6>
                        <a href="">
                            <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-28 mb-20">Is there an out-of-the-box
                                solution
                                for Risk Management?</h5>
                        </a>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-0">Special knowledge resources including our
                            white papers and webinars on-demand...</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="risk-blog bgc-white padding-6 pb-30 rounded-8 risk-shadow mt-20">
                        <img src="assets/img/risk_managment/blog_3.png" alt="" class="w-100 img-fluid rounded-8 mb-20">
                        <h6 class="risk-sub-text fs-16 ff-risk-pri fw-600 ch-mb-10">Cyber Security</h6>
                        <a href="">
                            <h5 class="risk-color fs-20 ff-risk-pri fw-800 flh-28 mb-20">Is the ERM software hosted
                                or installed?</h5>
                        </a>
                        <p class="risk-color-two ff-dmsans fs-16 flh-24 mb-0">Special knowledge resources including our
                            white papers and webinars on-demand...</p>
                    </div>
                </div>
                <div class="text-center">
                    <a href="" class="btn risk-gd-bg risk-hover-text-white clr-white ff-risk-pri fs-14 fw-600 border-0 mt-40">More
                        Resource</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog -->

    <!-- Footer -->
    
    <!-- Footer -->

</div>

</body>
</html>