<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--twitter og-->
    <meta name="twitter:site" content="@Robotics & AI Club">
    <meta name="twitter:creator" content="@Robotics & AI ">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ROBO AI">
    <meta name="twitter:description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta name="twitter:image" content="#">

    <!--facebook og-->
    <meta property="og:url" content="#">
    <meta name="twitter:title" content="ROBO AI">
    <meta property="og:description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta property="og:image" content="#">
    <meta property="og:image:secure_url" content="#">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!--meta-->
    <meta name="description" content="Empowering innovation and intelligence through Robotics and AI for a smarter tomorrow.">
    <meta name="author" content="RoboticsCommitee">

    <!--favicon icon-->
    <link rel="icon" href="assets/img/favicon.png" type="image/png" sizes="16x16">

    <!--title-->
    <title>ROBO AI</title>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Font -->

    <!--build:css-->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- endbuild -->

    <!--custom css start-->
    <link rel="stylesheet" href="assets/css/custom.css">
    <!--custom css end-->
    

</head>

<body>

    
    <div class="main-wrapper">
        <!--header section start-->
        <header class="main-header w-100 z-10">
            <nav class="navbar navbar-expand-xl navbar-light sticky-header">
                <div class="container d-flex align-items-center justify-content-lg-between position-relative">
                    <a href="index.html" class="navbar-brand d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="/images/Dark Blue & White Robot Logo_edited.webp" alt="logo" class="img-fluid logo-white" />
                        <img src="/images/Dark Blue & White Robot Logo_edited.webp" alt="logo" class="img-fluid logo-color" />
                    </a>

                    <a class="navbar-toggler position-absolute right-0 border-0" href="#offcanvasWithBackdrop" role="button">
                        <i class="flaticon-menu"
                           data-bs-toggle="offcanvas"
                           data-bs-target="#offcanvasWithBackdrop"
                           aria-controls="offcanvasWithBackdrop"></i>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="about.html" class="nav-link">About Us</a></li>
                            <li><a href="team.html" class="nav-link">Members</a></li>
                            <li><a href="blog.html" class="nav-link">Projects</a></li>
                            <li><a href="service-single.html" class="nav-link">Events</a></li>
                            <li><a href="/achievement/ACHIEVEMENT.html" class="nav-link">Achievements</a></li>
                            <li><a href="gallery/index.html" class="nav-link">Gallery</a></li>
                            
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/Inventory/menu.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Inventory</a>
                                <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white">
                                    <div class="dropdown-grid rounded-custom width-full">
                                        <div class="dropdown-grid-item bg-white radius-left-side">
                                            <h6 class="drop-heading">Components</h6>
                                            <a href="/Inventory/menu.html" class="dropdown-link px-0">
                                                <span class="me-2">
                                          
                                        </span>
                                                <div class="drop-title">Drones</div>
                                            </a>
                                            <a href="/Inventory/menu.html" class="dropdown-link px-0">
                                                <span class="me-2">
                                          
                                        </span>
                                                <div class="drop-title">Battery & Power</div>
                                            </a>
                                            <a href="/Inventory/menu.html" class="dropdown-link">
                                                <span class="me-2">
                                          
                                        </span>
                                                <div class="drop-title">Sensors</div>
                                            </a>
                                            <a href="/Inventory/menu.html" class="dropdown-link px-0">
                                                <span class="me-2">
                                          
                                        </span>
                                                <div class="drop-title">Actuators</div>
                                            </a>
                                            <a href="/Inventory/menu.html" class="dropdown-link">
                                                <span class="me-2">
                                          
                                        </span>
                                                <div class="drop-title">Internet of Things</div>
                                            </a>
                                            
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </li>
                            <li><a href="/contact-us.html" class="nav-link">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="action-btns text-end me-5 me-lg-0 d-none d-md-block d-lg-block">
                        <a href="javascript:void(0)" class="btn btn-link p-1 tt-theme-toggle">
                            <div class="tt-theme-light" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Light"><i class="flaticon-sun-1 fs-lg"></i></div>
                            <div class="tt-theme-dark" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Dark"><i class="flaticon-moon-1 fs-lg"></i></div>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/robotics-and-ai-club-403778262"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/robotics_club_?igsh=YjVhYXdoYXZlenV1"><i class="fab fa-instagram"></i></a></li>
                    </div>
                </div>
            </nav>
            <!--offcanvas menu start-->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasWithBackdrop">
                <div class="offcanvas-header d-flex align-items-center mt-4">
                    <a href="index.html" class="d-flex align-items-center mb-md-0 text-decoration-none">
                        <img src="assets/img/logo-color.png" alt="logo" class="img-fluid ps-2" />
                    </a>
                    <button type="button" class="close-btn text-danger" data-bs-dismiss="offcanvas" aria-label="Close">
                        <i class="flaticon-cancel"></i>
                    </button>
                </div>
                <div class="offcanvas-body">
                    <ul class="nav col-12 col-md-auto justify-content-center main-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu border-0 rounded-custom shadow py-0 bg-white homepage-list-wrapper">
                                <div class="dropdown-grid rounded-custom width-full homepage-dropdown">
                                    <div class="dropdown-grid-item bg-white radius-left-side">
                                        <h6 class="drop-heading">Different Home</h6>
                                        <a href="index.html" class="dropdown-link">
                                            <span class="demo-list bg-primary rounded text-white fw-bold">1</span>
                                            <div class="dropdown-info">
                                                <div class="drop-title">Robotics & AI</div>
                                                <p>It's for <strong>Club </strong> of Marwadi University</p>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <!--offcanvas menu end-->
        </header> <!--header section end-->

<!--page header section start-->
<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">EVENTS</h1>
                <p class="lead">
                     Stay updated on all the latest activities of the Robotics & AI Club! Dive into engaging workshops, hands-on sessions, and exciting events that foster innovation and learning in the field of robotics and AI.</p>
            </div>
        </div>
        
    </div>
</section>
<!--page header section end-->

<body>

   
    <!--main content wrapper start-->
    <div class="main-wrapper">

            
            

        

        <!--feature section start-->
        <section class="feature-section ptb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>TECH KRITI</h2>
                            <p>Tech Kriti Workshop, hosted by IIT Kanpur at Marwadi University, was an immersive learning experience focused on emerging technologies. Students gained hands-on exposure to advanced concepts and practical applications, guided by expert mentors from IIT Kanpur. This workshop provided a unique opportunity to enhance technical skills and explore innovative solutions in a collaborative environment.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="pr-lg-4 mt-md-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="images/TECHKRITI.jpg" alt="" class="img-fluid shadow-sm rounded-custom">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section pt-60 pb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>HACK THE MOUNTAIN</h2>
                            <p>Hack the Mountains, a high-energy hackathon hosted at Marwadi University by the Hack the Mountain team, brought together innovative minds to solve real-world challenges. Participants collaborated over intense coding sessions, developing creative solutions and showcasing their technical expertise. With mentorship, workshops, and a competitive yet inspiring environment, the hackathon provided a platform to transform ideas into impactful projects, fostering innovation and teamwork.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="pr-lg-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="images/HTM.png" alt="" class="img-fluid rounded-custom shadow-sm">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section ptb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>WEB HORIZON</h2>
                            <p>Web Horizon, an engaging event held at Marwadi University, showcased the creativity and technical prowess of students as they designed and developed stunning website frontends. Participants demonstrated their skills in web design, blending innovation with functionality to create user-centric interfaces. The event fostered a collaborative and competitive atmosphere, encouraging students to push the boundaries of their web development expertise.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="pr-lg-4 mt-md-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="images/WEBHORIZON.jpg" alt="" class="img-fluid shadow-sm rounded-custom">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        

        <!--feature section start-->
        <section class="feature-section pt-60 pb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>API CHALLENGE</h2>
                            <p> API X Postman Challenge, hosted at Marwadi University, was an exciting event where participants built dynamic websites using APIs and explored their functionalities through Postman. Students showcased their skills in integrating APIs seamlessly into web applications, emphasizing innovation and practical implementation. The event provided a platform to enhance API knowledge, promote creativity, and foster collaboration among tech enthusiasts.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="pr-lg-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="images/postman-logo-5110850F84-seeklogo.com.png">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section ptb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>INTELLIFY</h2>
                            <p>INTELLIFY Hackathon, held at Marwadi University, was a transformative tech event where participants tackled real-world challenges with innovative solutions. Over an intense coding marathon, students collaborated to develop cutting-edge projects, blending creativity with technology. The hackathon fostered a spirit of innovation, teamwork, and problem-solving, providing a platform for future tech leaders to shine.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="pr-lg-4 mt-md-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="images/INTELLIFY.jpg" alt="" class="img-fluid shadow-sm rounded-custom">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section pt-60 pb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>GO DRONE</h2>
                            <p>Go Drone, an exciting drone racing event held at Marwadi University, featured participants who built their own drones and raced them through a challenging obstacle course. Competitors demonstrated their engineering and piloting skills as they navigated their custom-built drones through obstacles, testing speed, precision, and innovation. The event offered a thrilling platform for participants to showcase their creativity and technical expertise in drone design and racing.</p>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="pr-lg-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                <img src="/images/GODRONE.jpg" alt="" class="img-fluid rounded-custom shadow-sm">
                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->

                <!--feature section start-->
                <section class="feature-section ptb-120">
                    <div class="container">
                        <div class="row align-items-lg-center justify-content-between">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="mb-4">
                                    <h2>ROBO COMP</h2>
                                    <p>RoboComp, the flagship event of the Robotics & AI Club at Marwadi University, is a thrilling robotics competition that brings together innovation, teamwork, and technology. Participants design and program their own robots to tackle exciting challenges, showcasing their creativity and technical expertise. With diverse rounds testing speed, precision, and problem-solving, RoboComp provides a platform for students to explore cutting-edge robotics while fostering collaboration and competitive spirit. Join us to experience the future of robotics in action! </p>
                                </div>
                                
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="pr-lg-4 mt-md-4 position-relative">
                                    <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                        <img src="images/ROBOCOMP.jpg" alt="" class="img-fluid shadow-sm rounded-custom">
                                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--feature section end-->

        
    <!--build:js-->
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="assets/js/vendors/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendors/parallax.min.js"></script>
    <script src="assets/js/vendors/aos.js"></script>
    <script src="assets/js/vendors/massonry.min.js"></script>
    <script src="assets/js/app.js"></script>
    <!--endbuild-->
</body>



<!--footer section start-->
<footer class="footer-section">
    <!--footer top start-->
    <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
    <div class="footer-top footer-light ptb-120">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                    <div class="footer-single-col">
                       
                        

                        <p>
                            <h1 class="display-5 fw-bold">LEARN</h1>
                            <h1 class="display-5 fw-bold">THINK </h1>
                            <h1 class="display-5 fw-bold">CREATE  LIMITLESS</h1>
                        </p>  
                    </div>
                </div>
                <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                    <div class="row">
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Club Core Areas</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="index.html" class="text-decoration-none"></a>Robotics Development</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Artificial Intelligence</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Machine Learning</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Computer Vision</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Embedded Systems</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Sensor Integration</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Battery & Power Management</li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Actuators & Control Systems</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Opportunities</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="index.html" class="text-decoration-none"></a>Internships & Careers</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Mentorship Programs</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Industry Collaborations</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Alumni Network</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Technical Skill Development</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Competitions & Hackathons</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Personal Growth</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Leadership Roles</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Resources</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a href="index.html" class="text-decoration-none"></a>About the Club</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Join Us</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Projects & Research</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Events & Workshops</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Code of Conduct</a></li>
                                    <li><a href="contact-us.html" class="text-decoration-none"></a>Contact Us</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Privacy Policy</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Terms & Conditions</a></li>
                                    <li><a href="index.html" class="text-decoration-none"></a>Collaborate with Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--footer top end-->

    <!--footer bottom start-->
    <div class="footer-bottom footer-light py-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="copyright-text">
                        <p class="mb-lg-0 mb-md-0">&copy; Robotics & AI Club Rights Reserved. Designed By <a href="" class="text-decoration-none">Commitee Members</a></p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer bottom end-->
</footer>
<!--footer section end-->
<!--footer section end--> <!--footer section end-->
</div>

</html>